<div class="maincontainer">
    <!-- <div class="title-container container"> -->
    <!--<div class="title-container">
        <div class="header2">
            <h3>Your favorite nutritionists</h3>
        </div>
    </div>-->
    <div class="nutritionist-list-container">
        <table class="nutritionist-list-table">
           <thead>
                <tr>
                    <th class="thTable">Food Name</th>
                    <th class="thTable">Number of Calories</th>
                    <th class="thTable">Sample</th>
                   <!-- <th class="thTable">Select</th>-->
                </tr>
            </thead>
             <tbody>
                <tr ng-repeat="obj in vm.dailyMeal track by $index">
                    <td class="tdTable">{{obj.food_name}}</td>
                    <td class="tdTable">{{obj.numberofCal}}</td>
                    <td class="tdTable"><img ng-src="{{obj.thumb}}"></td>
                </tr>
            </tbody> 
        </table>
        <input type="button" name="go-back-diet-plan" class="save-nutritionists-setting" ng-click="vm.close()" value="Back">
    </div>
</div>