<div class="maincontainer">
    <div uib-accordion-group class="panel-default" heading="Custom template">
       <table class="innerwhitebox2" border="1">
             <thead>
                <tr>
                    <th class="thTable">Food Name</th>
                    <th class="thTable">Number of Calories</th>
                    <th class="thTable">Sample</th>
                </tr>
            </thead>
             <tbody>
                <tr ng-repeat="obj in vm.dailyMeal track by $index">
                    <td class="tdTable">{{obj.food_name}}</td>
                    <td class="tdTable">{{obj.numberofCal}}</td>
                    <td class="tdTable"><img ng-src="{{obj.thumb}}"></td>
                </tr>
            </tbody>  
    </table>
    </div>
</div>