<div class="maincontainer">
    <!-- <div class="title-container container"> -->
    <div class="title-container">
        <div class="header2">
            <h3>Your favorite nutritionists</h3>
        </div>
    </div>
    <div class="nutritionist-list-container">
        <table class="nutritionist-list-table">
           <thead>
                <tr>
                    <th class="thTable">Name </th>
                    <th class="thTable">Address</th>
                    <th class="thTable">Phone Number</th>
                </tr>
            </thead>
             <tbody>
                <tr ng-repeat="obj in vm.nutritionists track by $index">
                    <td class="tdTable">{{obj.name}}</td>
                    <td class="tdTable">{{obj.address}}</td>
                    <td class="tdTable">{{obj.phone_number}}</td>
                </tr>
            </tbody> 
        </table>
    </div>
    <div class="save-plan-button save-personal-trainer-button-container">
        <div class="save-plan-wrapper save-personal-trainer-wrapper">
            <input type="button" name="save-nutritionists-list" class="save-nutritionists-setting" ng-click="vm.route('profile')" value="Profile">

        </div>
    </div>
</div>