<div class="container" id="welcomecontainer">
        <h1 id="welcome"> </h1></div>
    <div class="container" id="planningtablecontainer">
        <div class="row">
            <div class="col-md-6 col-md-push-0 col-sm-push-3 col-xs-push-3"><img src="assets/img/profile.png"></div>
            <div class="col-md-6" id="profilecolumn">
                <div class="row profiledetails">
                    <div class="col-md-12">
                        <p>First Name: {John }</p>
                    </div>
                </div>
                <div class="row profiledetails">
                    <div class="col-md-12">
                        <p>Last Name: {Doe}</p>
                    </div>
                </div>
                <div class="row profiledetails">
                    <div class="col-md-12">
                        <p>Address {20 Bergen Avenue Bronx NY 1001}</p>
                    </div>
                </div>
                <div class="row profiledetails">
                    <div class="col-md-12">
                        <p>Age:{28} Height:{5'8}" Weight: {300lb}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="maincontainer">
        <div class="row">
            <div class="col-md-12">
                <h4>Customize Health Plan</h4></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                  
                <button class="btn btn-default btn-block btn-lg choose-fitness-method-input meet-nutritionist" name="meet-nutritionist" type="button" ng-click="vm.route('nutritionists')"><i class="fa fa-user-md"></i> Meet a Nutritionist</button>
            </div>
            <div class="col-md-6">
               
                <button class="btn btn-default btn-block btn-lg choose-fitness-method-input build-diet-plan" name="build-diet-plan" type="button" ng-click="vm.route('diet')"><i class="glyphicon glyphicon-list" ></i> Build Diet Plan</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
             
                <button class="btn btn-default btn-block btn-lg choose-fitness-method-input work-out" name="work-out" type="button" ng-click="vm.route('workout')"><i class="glyphicon glyphicon-lock"></i> Work Out</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-default btn-block btn-lg choose-fitness-method-input keep-track-of-food" name="keep-track-of-food" type="button" ng-click="vm.route('nutritionfacts')"><i class="glyphicon glyphicon-cutlery"></i> Keep Track of Food</button>
            </div>
        </div>
    </div>
   <div class="container">
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <button class="btn btn-warning btn-block btn-sm" type="button" id="savebutton">Sign out</button>
        </div>
    </div>
</div>
